.addMovieWindow {
    position: absolute;
    top: 150px;
    height: 1000px;
    width: 700px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: #232323;
    color: red;
    font-family: sans-serif;
    font-weight: 100;

    z-index: 999;

    /*visibility: hidden;*/
}

.addMovieWindow h1 {
    margin: 0;
    padding: 0;

    margin-top: 50px;
    margin-left: 100px;

    color: #EDEDED;
    font-weight: 100;
    font-size: 2.5rem;
    font-family: sans-serif;
}

.addMovieWindow h2 {
    margin: 0;
    padding: 0;

    margin-left: 100px;

    display: flex;
    flex-direction: column;
    justify-content: left;

    color: #B7444F;
    font-weight: 700;
    font-size: 1rem;
}

.btn-group {
    position: relative;
    top: 0;
    left: 0;

    padding: 0;
    margin: 0;

    height: 50px;
    width: 500px;

    display: flex;
    flex-direction: row;
    align-items: center;

    font-weight: 100;

    border: solid 1px green;
}

.btn-group .btn-primary {
    all: unset;

    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: #999999;

    background: transparent;

    border: none;
}

.btn-group .dropdown-toggle {
    position: absolute;
    right: 0;

    height: 20px;
    width: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-right: 10px;

    transform: scale(2);
    color: #F65261;

    cursor: pointer;

    background: transparent;
}
