.Main {
    position: relative;
    margin-top: 20px;
    /*top: 350px;*/
    height: 1300px;
    width: 1150px;
    background-color: #343434;

    color:#EAEAEA;
    font-size: 1.2rem;
    font-family: sans-serif;
}
