.moviesList {
    position: absolute;
    top: 150px;
    left: 50px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 1050px;
    height: 1150px;
}
